@import url(https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  color: #333;
}

:root{
  --main-color: #FBBB1D;
}

body {
  display: flex;
  flex-direction: column;
}
.container{
  flex: 1;
}

h1{
  color: var(--main-color);
  padding: 5px;
  margin: auto 20px;
}

a{
  text-decoration: none;
}

#right-section{
  margin-right: 10vw;
}

.menu-itm{
  cursor: pointer;
  padding: 5px;
  transition: border-bottom 0.2s;
  margin: auto 10px;
  color: #333;
}

.menu-itm:hover{
  border-bottom: 5px solid var(--main-color);
  border-radius: 5px;
}

i{
  cursor: pointer;
  padding: 5px;
  margin: auto 10px;
  color: #333;
  display: none !important;
}

.nav-bar{
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 10%;
  width: 100%;
  position: sticky;
  top: 0; 
  box-shadow: 0 0px 10px rgba(0, 0, 0, 0.3);
  background-color: white;
  z-index: 5; 
}

footer{
  position: static;
  left: 0;
  bottom: 0;
  height: 200px;
  width: 100%;
  background-color: var(--main-color);
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0px 10px rgba(0, 0, 0, 0.3);
  flex-direction: column;
  margin-top: 50px;
}

.copyright{
  margin-top: 20px;
}

.section-header{
  display: flex;
  justify-content: center;
  margin: 20px;
}

#akcijas {
  margin-top: 70px;
  display: grid;
  gap: 10px;
  row-gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  justify-items: center;
  padding: 0 20px;
}


.produkts{
  max-width: 250px;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  transition: all 0.2s;
}

.produkts:hover{
  cursor: pointer;
  transform: translateY(-5px);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.old-price{
  color: red;
  text-decoration: line-through;
}

produkts img{
  max-width: 200px;
  overflow: hidden;
}

#card-header, #job-header{
  margin-top: 70px;
  margin-bottom: 20px;
}



#mego-karte img{
  width: 60%;
  display: flex;
  justify-self: center;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  transition: all 0.2s;
}

#mego-karte img:hover{
  cursor: pointer;
  transform: scale(1.1);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

button{
  display: flex;
  justify-self: center;
  margin-top: 20px;
  border: none;
  background-color: var(--main-color);
  padding: 10px;
  border-radius: 15px;
  color: #333;
  font-size: 1.1rem;
  text-transform: uppercase;
  transition: all 0.2s;
}

button:hover{
  transform: translateY(-3px);
  cursor: pointer;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

@media (max-width: 768px) {
  i {
    display: inline-block !important;
  }
  .menu-itm{
    display: none;
  }
  #right-section{
    margin-right: 5vw;
  }
}
  }
}
