@import url(https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  color: #333;
}

:root{
  --main-color: #FBBB1D;
}

body {
  display: flex;
  flex-direction: column;
}
.container{
  flex: 1;
}

h1{
  color: var(--main-color);
  padding: 5px;
  margin: auto 20px;
}

a{
  text-decoration: none;
}

#right-section{
  margin-right: 10vw;
}

.menu-itm{
  cursor: pointer;
  padding: 5px;
  transition: border-bottom 0.2s;
  margin: auto 10px;
  color: #333;
}

.menu-itm:hover{
  border-bottom: 5px solid var(--main-color);
  border-radius: 5px;
}

.nav-bar{
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80px;
  width: 100%;
  position: sticky;
  top: 0; 
  box-shadow: 0 0px 10px rgba(0, 0, 255, 0.3);
  background-color: white;
  z-index: 5; 
}
.nav-bar #mego-name:hover{
  cursor: pointer;
  transition: all 1s;
  transform: scale(1.1); 
}

footer{
  position: static;
  left: 0;
  bottom: 0;
  height: 200px;
  width: 100%;
  background-color: var(--main-color);
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0px 10px rgba(0, 0, 0, 0.3);
  flex-direction: column;
  margin-top: 50px;
}

.copyright{
  margin-top: 20px;
}

.section-header{
  display: flex;
  justify-content: center;
  margin: 20px;
}

#akcijas {
  margin-top: 70px;
  display: grid;
  gap: 10px;
  row-gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  justify-items: center;
  padding: 0 20px;
}


.produkts{
  max-width: 250px;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  transition: all 0.2s;
}

.produkts:hover{
  cursor: pointer;
  transform: translateY(-5px);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.old-price{
  color: red;
  text-decoration: line-through;
}

produkts img{
  max-width: 200px;
  overflow: hidden;
}

#card-header, #job-header{
  margin-top: 70px;
  margin-bottom: 20px;
}



#mego-karte img{
  width: 60%;
  display: flex;
  justify-self: center;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  transition: all 0.2s;
}

#mego-karte img:hover{
  cursor: pointer;
  transform: scale(1.1);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

button{
  display: flex;
  justify-self: center;
  margin-top: 20px;
  border: none;
  background-color: var(--main-color);
  padding: 10px;
  border-radius: 15px;
  color: #333;
  font-size: 1.1rem;
  text-transform: uppercase;
  transition: all 0.2s;
}

button:hover{
  transform: translateY(-3px);
  cursor: pointer;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}


#job-card{
  width: 100%;
  background-color: rgb(62, 62, 166);
  padding: 30px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

#job-card button{
  display: flex;
  justify-content: center;
  align-items: center;
}

h3{
  margin: 20px;
  font-size: 1.5rem;
  color: white;
}

label{
  color: white;
}

input, select{
  color: black;
  padding: 5px;
  border-radius: 10px;
}

@media (max-width: 768px) {
  .menu-itm{
    display: none;
  }
  #right-section{
    margin-right: 5vw;
  }
  .ham-menu{
    display: block !important;
  }
}

.off-screen-menu {
    background-color: rgb(62, 62, 166);
    height: 100vh;
    width: 100%;
    max-width: 450px;
    position: fixed;
    top: 0;
    right: -450px;
    display: flex;
    flex-direction: column;
    align-items: center;    
    justify-content: center;
    text-align: center;
    font-size: 3rem;
    transition: .3s ease;
}
.off-screen-menu.active {
    right: 0;
}

.ham-menu {
    display: none;
    height: 50px;
    width: 40px;
    margin-left: auto;
    position: relative;
    z-index: 7;
}
.ham-menu span {
    height: 5px;
    width: 100%;
    background-color: rgb(62, 62, 166);
    border-radius: 25px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    transition: .3s ease;
}
.ham-menu span:nth-child(1) {
    top: 25%;
}
.ham-menu span:nth-child(3) {
    top: 75%;
}
.ham-menu.active span {
    background-color: black;
}
.ham-menu.active span:nth-child(1) {
    top: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
}
.ham-menu.active span:nth-child(2) {
    opacity: 0;
}
.ham-menu.active span:nth-child(3) {
    top: 50%;
    transform: translate(-50%, -50%) rotate(-45deg);
}
li,li a{
  font-size: 0.9rem;
  color: white;
  padding: 10px;
}

#left-section{
  border: 2px solid blue;
  border-bottom-right-radius: 20px;
  border-top-left-radius: 20px;
  margin-left: 5vw;
  box-shadow: 0 0px 10px rgba(0, 0, 255, 0.6);
}